body {
  margin: 0;
  text-align: center;
  font-family: serif;
  background-color: #96CEB4;
}
h1 {font-family: 'Sacramento', cursive;}
h2 {font-family: 'Montserrat', sans-serif;}
h3 {font-family: 'Montserrat', sans-serif;}
.bottom-cloud {
  position: absolute;
}
.top-cloud {position: relative;
margin-left: 35%;}
span {text-decoration: underline;}
.profileimage {
height: 180px;
width: 150px;
border-radius: 50%;}
.truck-icons {object-fit: contain;
width: 200px;
height: 200px;}
.DJ-Picture {
width: 300px;
height: 300px;
object-fit: contain;}
